/* CSS rules for font families
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --main-site-color: #202020;
  --secondary-site-color: #303030;
  --highlights: #9ef0ff;
  --main-box-shadow: 2px 2px 10px 1px rgba(255, 255, 255, 1);
  --secondary-box-shadow: 10px 5px 30px 1px rgba(255, 255, 255, 1);
}

body {
  padding-top: 80px;
  background-color: var(--main-site-color);
  color: #fff;
}

div.main {
  text-align: center;
  height: 100vh;
}
.main-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: #fff;
}
.main h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
.main h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #fff;
}
.main h1,
.main h2,
.main h6 {
  margin: 20px;
}
.get-started-button,
.see-content-button {
  border: 1px solid;
  border-radius: 45px;
  padding: 10px 30px;
  margin: 20px auto;
  border-color: #fff;
  background-color: var(--main-site-color);
  box-shadow: var(--main-box-shadow);
  transition: all 200ms ease;
}
.get-started-button:hover,
.see-content-button:hover {
  box-shadow: 2px 2px 15px 1px var(--highlights);
  border-color: var(--highlights);
}

.get-started-link,
.see-content-link {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  padding: 0 15px;
}
.nav-item {
  padding: 0 50px !important;
}
.row {
  border: 1px solid;
  border-radius: 50px;
  margin: 60px auto;
  padding: 50px;
  box-shadow: var(--secondary-box-shadow);
}

.main-page-pictures {
  width: 100%;
  border-radius: 50px;
}
.vertical {
  margin: auto;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #fff;
}
