/* CSS rules for font families
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --main-site-color: #202020;
  --secondary-site-color: #303030;
  --highlights: #9ef0ff;
  --main-box-shadow: 2px 2px 10px 1px rgba(255, 255, 255, 1);
  --secondary-box-shadow: 10px 5px 30px 1px rgba(255, 255, 255, 1);
  --transition-hover: all 200ms ease-in-out;
}

body {
  padding-top: 80px;
  background-color: var(--main-site-color);
  color: #fff;
}

div.main {
  text-align: center;
  height: 100vh;
}
.main-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 72px;
}
.main h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.main h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
}
.main h1,
.main h2,
.main h6 {
  margin: 20px;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #fff;
}

.get-started-button,
.see-content-button {
  border: 1px solid;
  border-radius: 45px;
  padding: 10px 30px;
  margin: 20px auto;
  border-color: #fff;
  background-color: var(--main-site-color);
  box-shadow: var(--main-box-shadow);
  transition: var(--transition-hover);
}
.get-started-button:hover {
  box-shadow: 2px 2px 15px 1px var(--highlights);
  border-color: var(--highlights);
}

.get-started-link,
.see-content-link {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  padding: 0 15px;
}
.nav-item {
  padding: 0 30px !important;
}
.row {
  border: 1px solid;
  border-radius: 50px;
  margin: 60px auto;
  padding: 50px;
  box-shadow: var(--secondary-box-shadow);
  transition: var(--transition-hover);
}
.col-md-6 {
  padding: 10px;
  margin: auto;
}

.main-page-pictures {
  border-radius: 50px;
  transition: var(--transition-hover);
  filter: grayscale(100%);
}
.main-about:hover .about-img {
  filter: none;
}
.main-work:hover .work-img {
  filter: none;
}
.main-contact:hover .contact-img {
  filter: none;
}
.main-about:hover {
  border-color: #a55635;
  box-shadow: 10px 5px 30px 1px #a55635;
}
.main-work:hover {
  border-color: #e21a3f;
  box-shadow: 10px 5px 30px 1px #e21a3f;
}
.main-contact:hover {
  border-color: #2c7180;
  box-shadow: 10px 5px 30px 1px #2c7180;
}
.see-content-button-about:hover {
  border-color: #a55635;
  box-shadow: 2px 2px 15px 1px #a55635;
}
.see-content-button-work:hover {
  border-color: #e21a3f;
  box-shadow: 2px 2px 15px 1px #e21a3f;
}
.see-content-button-contact:hover {
  border-color: #2c7180;
  box-shadow: 2px 2px 15px 1px #2c7180;
}

@media (max-width: 450px) {
  .main h1 {
    font-size: 40px !important;
  }
  .main h2 {
    font-size: 20px !important;
  }
  .main h6 {
    font-size: 16px !important;
  }
  .navbar-brand {
    font-size: 18px;
  }
  .nav-item {
    padding: 0;
  }
  .navbar-toggler {
    margin-right: 5px;
  }
  .get-started-button,
  .see-content-button {
    font-size: 12px;
    border: 1px solid;
    border-radius: 45px;
    padding: 5px 15px;
    margin: 20px auto;
    border-color: #fff;
  }
  p {
    font-size: 14px;
  }
  .main-page-pictures {
    filter: none;
  }
  .get-started-button {
    box-shadow: 2px 2px 15px 1px var(--highlights);
    border-color: var(--highlights);
  }
  .main-about {
    border-color: #a55635;
    box-shadow: 10px 5px 30px 1px #a55635;
  }
  .main-work {
    border-color: #e21a3f;
    box-shadow: 10px 5px 30px 1px #e21a3f;
  }
  .main-contact {
    border-color: #2c7180;
    box-shadow: 10px 5px 30px 1px #2c7180;
  }
  .see-content-button-about {
    border-color: #a55635;
    box-shadow: 2px 2px 15px 1px #a55635;
  }
  .see-content-button-work {
    border-color: #e21a3f;
    box-shadow: 2px 2px 15px 1px #e21a3f;
  }
  .see-content-button-contact {
    border-color: #2c7180;
    box-shadow: 2px 2px 15px 1px #2c7180;
  }
}
